%h2
  Products in the
  %span.label.label-warning
    = category.name
  &nbsp;category
%hr

%ol
  - category.products.each do |product|
    %li
      %h4= product.title
%br

.col-sm-8
  .panel.panel-warning
    .panel-heading Add new product
    .panel-body
      = render 'products/form'


  =link_to 'Edit Category', edit_category_path(category), class: 'btn btn-warning'
  =link_to 'Back', categories_path, class: 'btn btn-info'
