.col-sm-8.col-sm-offset-3
  .panel.panel-success
    .panel-heading Edit product
    .panel-body
      = render 'products/form'


  = link_to 'Show', category_product_path(category, product), class: 'btn btn-success'
  = link_to 'Back', category_path(category), class: 'btn btn-info'
