- if params[:controller] == "reviews"
  .jumbotron
    %h2
      Get involved in the
      %strong
        Recenzent's
      community!
      %small
        %em
          Add products and have them reviewed by others
    %p
      = link_to "Browse categories", categories_path, class: "btn btn-primary btn-lg"
      = link_to "Review products", products_path, class: "btn btn-success btn-lg"
