.jumbotron
  %h2
    Get involved in the
    %strong
      Recenzent's
    community!
    %small
      %em
        Add products and have them reviewed by others
  %p
    %a.btn.btn-primary.btn-lg{ role: "button" } Add product
    %a.btn.btn-success.btn-lg{ role: "button" } Review products
